.button {
    border-radius:5px;
	background: #AAA9A9;
    color:#f5f5f5;
    margin: 25px auto;
	font:bold 12px South_Gardens_Personal_Use;
	padding:10px 10px;
    box-shadow:1px 1px 3px #2A4619;
    letter-spacing: .15rem;
}

.button:hover {
	color:#292828;

}

