/* SEARCH PAGE */
.search {
  font-size: 0.8em;
}
.search button {
  font-size:1em;
  position: absolute;
  bottom: 0.5em;
  right: 1.5em;
}
.search #div3 {
  border-radius: 5px;
}
/* GENERAL */
.main-title{
  font-size: 5em;
  font-family: 'Lilita One', cursive;
}

.second-title{
  font-size: 2.5em;
  font-family: 'Lilita One', cursive;
}
.card-title{
  font-size: 1.2em;
  font-family: 'Lilita One', cursive;
}

.lp-fond-txt{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2vh 2vw;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 10px 6px 61px -2px rgba(0,0,0,0.69);
-moz-box-shadow: 10px 6px 61px -2px rgba(0,0,0,0.69);
box-shadow: 10px 6px 61px -2px rgba(0,0,0,0.69);
}


/* LANDING PAGE */

.lpsection-home {
  min-height: 100vh;
  width:100vw;
  text-align: left;
  background-image:url("./img/lp-section1.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5vh 5vw;
  background-attachment: fixed;

}

.lpsection-examples {
  width:100vw;
  min-height: 100vh;
  text-align: center;
  background-image:url("./img/lp-section2.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5vh 5vw;
  -webkit-box-shadow: 0px 0px 145px 84px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 145px 84px rgba(0,0,0,1);
box-shadow: 0px 0px 145px 84px rgba(0,0,0,1);
}

.lpsection-examples h2 {
  text-align: center;
  padding: 5vh 0;
  color: black;
}

.card-item {
  padding: 5vh 0;
}

.lpsection-proposez {
  min-height: 100vh;
  width:100vw;
  text-align: left;
  background-image:url("./img/lp-section3.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5vh 5vw;
  background-attachment: fixed;
  color: white;
}

/*Form*/

.newActivityContainer{
  min-height: 120vh;
  width:100vw;
  background-image:url("./img/lp-section3.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.newActivityForm {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 80px;
  color: aliceblue;
}

.newActivityRecap{
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: hidden;
  top: 80px;
}

.recapContainer{
  background-color: rgba(255, 255, 255, 1);
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 6px;
  border-radius: 12px;
  -webkit-box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
  box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
  color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.recapContainer h1{
  font-size: 2vw;
  height: 5%;
  margin: 4px;
  width: 95%;
  border-radius: 8px;
  background-color: rgba(46, 46, 46, 0.2);
}

.recapContainer h3{
  font-size: 1.5vw;
  margin: 4px;
  border-radius: 8px;
  background-color: rgba(46, 46, 46, 0.2);
}

.recapContainer p{
  font-size: 1vw;
  margin: 0 24px 0 24px;
}

.recapContainer img{
  width: 95%;
  height: 30%;
  border-radius: 8px;
  object-fit: cover;
}

.recapList{
  width: 95%;
  height: 5%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 4px;
  background-color: rgba(46, 46, 46, 0.2);
}

.newActivityID{
  background-color: rgba(59, 59, 59, 0.95);
  border-radius: 12px;
  padding: 16px;
  margin: 12px;
  -webkit-box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
-moz-box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
}

.newActivityDescription {
  background-color:  rgba(59, 59, 59, 0.95);
  border-radius: 12px;
  padding: 16px;
  margin: 12px;
  -webkit-box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
-moz-box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
box-shadow: 32px 33px 37px 0px rgba(0,0,0,0.22);
}

.lp-fond-txt{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2vh 2vw;
  color: black;
  border-radius: 5px;
}
/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

